*{
    text-transform: capitalize;
}
#div1{
    background-image: url(./bannerBcg.jpeg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
#btn1{
    background-color: #ffe015;
    display: inline-block;
    width: fit-content;
}
#nav1{
    margin-left: 20px;
     position: relative;
}
#nav1::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 5px;
    background-color: #ffe015;
    transition: 0.5s;
}
#nav12{
    position: relative;
}
#nav12::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 5px;
    background-color: #ffe015;
    transition: 0.5s;
}
#nav1:hover::after{
    width: 100%;
}
#nav12:hover::after{
    width: 100%;
}
.desimg{
    width: 180px;
    height: 150px;
}
.desh{
    margin: -20px 0 20px 0 ;
    
}
.flex1{
    background-image: url(./home-filler.jpeg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.flex1 a{
    color: yellow;
}
#none{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.font1{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-transform: uppercase;
}
.font2{
    font-family: Fira Sans;
}